.portfolio{
    border: 3px solid #B2CCAF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5C627A;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    box-shadow: inset 3px 9px 20px 0px rgba(0, 0, 0, 0.75);

    &-detail h3{
        font-size: 16px;
        font-weight: 500;
        text-shadow: 4px 4px 3px rgba(0,0,0,0.38);
    }

    &:hover{
        background-color: #A3B6A2;
        transition: all 0.5s;
        color: #5C627A;
    }
}

