*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body{
  background-color: #272e44;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 470px;
  min-width: 320px;
  background-color: #404467;
  box-shadow: 24px 27px 53px -17px rgba(0,0,0,0.75);
}
